@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;500&family=Poppins:wght@300;500&display=swap&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* + Paleta de Colores */
    --dark-solid-1: #1F1F1F;
    --dark-solid-2: #3f4249;
    --dark-solid-3: #68696a;
    --light-font-solid: #ebecef;
    --rechazado-color: #cb1228;
    --aprobado-color: #0ed346;
    --text-shadow: #8e8e90d4 4px 3px 2px;

    /* + Tipografia */
    --base-font-family: 'Montserrat', sans-serif;
    --alternative-font-family: 'Poppins', sans-serif;

    /* + Tamaño de Letra */
    --font-display: 3em;
    --font-jumbo: 2.4em;
    --font-xlarge: 2em;
    --font-large: 1.8em;
    --font-medium: 1.2em;
    --font-small: 1em;
    --font-xsmall: 0.8em;

    /* + Espaciado */
    --spacing-240: 24rem;
    --spacing-200: 20rem;
    --spacing-180: 18rem;
    --spacing-160: 16rem;
    --spacing-130: 13rem;
    --spacing-100: 10rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font-family);
    color: var(--dark-solid-1);
    height: 100%;
}

body {
    background-image: url("../assets/img/scoreimag1.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: var(--base-font-family);
    color: var(--dark-solid-1);
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    filter: drop-shadow(#202021d1 4px 3px 2px);
}

figure {
    display: flex;
    align-items: center;
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* + HEADER */

header {
    /*background-image: url('assets/scoreimag1.jfif'); /* Misma imagen que el body */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   /* border-bottom: 2px solid var(--dark-solid-1);*/
    position: relative; /* Asegura que el contenido del header se sitúe sobre la imagen de fondo */
}

.header__estilo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-16);
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    width: 100%;
    height: 100%;
}

.header__title {
    font-size: var(--font-display);
    font-weight: 400;
    color: var(--light-font-solid);
}

/* + MAIN */

main {
    display: flex;
    gap: var(--spacing-16);
    padding: var(--spacing-24);
    flex: 1;
}

main h2 {
    font-weight: 500;
    font-size: var(--font-large);
}

.form__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-12);
    height: 470px;
}

.formulario__grid {
    display: flex;
}

.formulario__estilo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-16); /* Ajusta el gap entre los elementos */
    width: 300px; /* Ancho ajustado al tamaño original */
    background-color: rgba(255, 255, 255, 0.5); /* Fondo transparente */
    padding: var(--spacing-16); /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para el recuadro */
}

.formulario__estilo__div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.estilo__exite__customer {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.formulario__estilo__div label {
    font-size: var(--font-medium);
    font-weight: 500;
    color: var(--dark-solid-1);
}

.formulario__estilo__div input,
select {
    font-family: var(--alternative-font-family);
    font-size: var(--font-small);
    font-weight: 300;
    border: 1px solid var(--dark-solid-1);
    padding: 3px 10px;
    color: var(--dark-solid-1);
    border-radius: 5px;
    width: 100%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#botonPredict {
    font-family: var(--base-font-family);
    font-size: var(--font-small);
    font-weight: 400;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

#botonPredict:hover {
    background-color: #218838;
}

#botonBorrar {
    font-family: var(--base-font-family);
    font-size: var(--font-small);
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #626563;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%; /* Ajusta el botón al ancho del recuadro */
}

#botonBorrar:hover {
    background-color: #3b3e3b;
}

#incorrecto {
    border: var(--rechazado-color) 1px solid;
}

.predictionResult{
    border: 1px solid var(--dark-solid-3);
    background-color: rgba(255, 255, 255, 0.5);
    font-family: var(--alternative-font-family);
    color: var(--dark-solid-1);
    font-size: var(--font-large);
    font-weight: 400;
    border-radius: 5px;
}

/* + FOOTER */
footer {
    background-color: #4f5251cb; /* Fondo blanco para el footer */
    border-top: 2px solid var(--dark-solid-1);
    font-size: var(--font-medium);
    font-weight: 400;
    color: var(--light-font-solid);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-16);
    flex-shrink: 0;
}
.footer-text {
    font-size: 3dvb; /* Ajusta el tamaño según tus necesidades */
    color: var(--light-font-solid);
}